<!DOCTYPE html>
<html lang="en">

<head>
    <title>Book Collection</title>
</head>

<body>
    <main>
        <% searchResults.forEach(book=> {%>
            <section>
                <img src="<%= book.img %>">

                <h4>
                    <%= book.title %>
                </h4>
                <h4>
                    <%= book.author%>
                </h4>
                <p>
                    <%= book.description %>
                </p>
            </section>
            <form action="/books" method="post">
                <input type="hidden" name="title" value="<%= book.title%>">
                <input type="hidden" name="author" value="<%= book.author%>">
                <input type="hidden" name="isbn" value="<%= book.isbn%>">
                <input type="hidden" name="description" value="<%= book.description%>">
                <input type="hidden" name="image_url" value="<%= book.img%>">
                <input type="submit" name="save book" value="save book">

            </form>

            <% }) %>

    </main>
</body>

</html>